<div class="container flex-grow px-5 py-24 mt-24 mx-auto bg-white">
  <div class="flex flex-wrap w-full flex-col items-center text-center">
    <h2 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">シングルバトル</h2>
    <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">シングルバトルの構築記事一覧です</p>
  </div>
  <div class="mt-10 mb-6 ml-2">
    <%= link_to 'ダブルバトルの記事のページへ', double_battles_builds_path, class: 'border border-gray-400 bg-white rounded-md px-4 py-3 text-center text-xs sm:text-sm outline-none ring-indigo-500 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:px-8 md:py-3 md:text-base' %>
  </div>
  <%== pagy_nav(@pagy) %>
  <div class="flex flex-wrap">
    <% @builds.each do |build| %>
      <div class="p-2 w-full">
        <div class="flex flex-col items-center border-gray-400 border p-4 rounded-lg bg-white">
          <div class="w-full mb-4">
            <div class="flex flex-col sm:flex-row items-center justify-between">
              <div class="flex flex-col items-center sm:flex-row">
                <div class="mr-4">
                  <p class="text-gray-500 title-font font-medium">シーズン&nbsp;<%= build.season %></p>
                  <p class="text-gray-900 title-font font-medium">順位&nbsp;<%= build.battle_rank %></p>
                </div>
                <div class="flex items-center">
                  <% if build.user.profile_image.attached? %>
                    <%= image_tag build.user.profile_image, alt: "User profile image", class: "w-8 h-8 sm:w-10 sm:h-10 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-2" %>
                  <% end %>
                  <div>
                    <%= link_to build.user.name, user_path(build.user), class: "text-gray-900 title-font font-medium" %>
                    <p class="text-gray-500 title-font text-xs"><%= build.created_at.strftime("%Y年%m月%d日") %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="text-lg font-bold hover:text-blue-500 transition-colors duration-200 text-center mb-4">
            <%= link_to build.title, build_path(build), class: "hover:border-blue-500 border-b-2 border-transparent" %>
          </h3>
          <div class="flex justify-center w-full">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 gap-4 mt-4">
              <% if build.pokemon_parties.present? %>
                <% build.pokemon_parties.each do |pokemon_party| %>
                  <div class="flex flex-col items-center">
                    <%= display_image_if(pokemon_party.pokemon_image_url, size: "80") %>
                    <p class="text-gray-900 title-font font-medium"><%= pokemon_party.pokemon.japanese_name %></p>
                    <% if pokemon_party.item_image_url %>
                      <div class="mt-2 flex flex-col items-center">
                        <%= display_image_if(pokemon_party.item_image_url, size: "35") %>
                      </div>
                    <% else %>
                      <div class="mt-2 flex flex-col items-center">
                        <!-- 画像が無い場合のスペース -->
                        <div class="w-9 h-9 bg-transparent"></div>
                      </div>
                    <% end %>
                    <div class="mt-1">
                      <p class="text-gray-500 title-font font-medium text-sm"><%= pokemon_party.item.japanese_name %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%== pagy_nav(@pagy) %>
</div>
