<div class="container mx-auto p-6 bg-white mt-[124px]">
  <div class="space-y-12 max-w-4xl mx-auto bg-white rounded-lg px-8 pt-6 pb-8 mb-4">
    <div class=" pb-12">
      <%= render "shared/error_message"%>
      <h2 class="text-xl font-bold text-gray-900">プロフィールを編集</h2>
      <%= form_with(model: @user, local: true, data: { turbo: false }, class: "mt-10") do |form| %>
        <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <%= form.label :name, "ユーザー名(16文字まで)", class: "block text-sm font-medium text-gray-900" %>
            <div class="mt-2">
              <%= form.text_field :name, autocomplete: "name", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "ユーザー名" %>
            </div>
          </div>
          <div class="sm:col-span-4">
            <%= form.label :profile_image, "プロフィール写真", class: "block text-sm font-medium text-gray-900" %>
            <div class="mt-2 flex items-center gap-x-3">
              <label class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 cursor-pointer">
                <%= form.file_field :profile_image, class: "sr-only" %>
                <span>ファイルを選択</span>
              </label>
            </div>
            <div class="mt-2 text-sm text-gray-600">
              <%= @user.profile_image.attached? ? @user.profile_image.filename.to_s : "登録済みのファイルがある場合ファイル名を表示します" %>
            </div>
            <% if @user.profile_image.attached? %>
              <div class="mt-2">
                <%= form.check_box :remove_profile_image, { class: "form-checkbox text-indigo-600" }, "消去", "保持" %>
                <%= form.label :remove_profile_image, "プロフィール画像を削除", class: "text-sm font-medium text-gray-900" %>
              </div>
            <% end %>
          </div>
          <div class="col-span-full">
            <%= form.label :introduction, "自己紹介(255文字まで)", class: "block text-sm font-medium text-gray-900" %>
            <div class="mt-2">
              <%= form.text_area :introduction, rows: 3, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "自己紹介を入力" %>
            </div>
          </div>
          <div class="sm:col-span-4">
            <%= form.label :email, "メールアドレス", class: "block text-sm font-medium text-gray-900" %>
            <div class="mt-2">
              <%= form.email_field :email, value: @user.email, autocomplete: "email", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
          </div>
          <div class="sm:col-span-3">
            <%= form.label :password, "新しいパスワード（変更する場合）", class: "block text-sm font-medium text-gray-900" %>
            <div class="mt-2">
              <%= form.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "新しいパスワードを入力" %>
            </div>
          </div>
          <div class="sm:col-span-3">
            <%= form.label :password_confirmation, "新しいパスワードを確認（変更する場合）", class: "block text-sm font-medium text-gray-900" %>
            <div class="mt-2">
              <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "新しいパスワードを確認" %>
            </div>
          </div>
        </div>
        <div class="mt-6 flex items-center justify-end gap-x-6">
          <%= link_to "キャンセル", mypage_user_path(current_user), class: "text-sm font-semibold text-white bg-red-500 hover:bg-red-600 px-3 py-2 rounded-md", onclick: "return confirm('キャンセルしますか？');" %>
          <%= form.submit "更新", class: "rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-700", onclick: "return confirm('更新しますか？');" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
