<div class="container mx-auto max-w-md mt-[155px] bg-white p-8 rounded-lg border">
  <%= render "shared/error_message"%>
  <h2 class="text-3xl font-extrabold text-center text-neutral-600">新規登録</h2>
  <div class="mt-8 py-4">
    <%= form_with(model: @user, local: true, html: { novalidate: true }, data: { turbo: false }) do |form| %>
      <div class="space-y-6">
        <div>
          <%= form.label :name, 'ユーザー名', class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_field :name, required: true, class: "block w-full px-4 py-2 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border rounded-lg focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-600" %>
          </div>
        </div>
        <div>
          <%= form.label :email, 'メールアドレス', class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.email_field :email, autocomplete: "email", required: true, class: "block w-full px-4 py-2 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border rounded-lg focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-600" %>
          </div>
        </div>
        <div>
          <%= form.label :password, 'パスワード', class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.password_field :password, required: true, class: "block w-full px-4 py-2 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border rounded-lg focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-600" %>
          </div>
        </div>
        <div>
          <%= form.label :password_confirmation, 'パスワードの確認', class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.password_field :password_confirmation, required: true, class: "block w-full px-4 py-2 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border rounded-lg focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-600" %>
          </div>
        </div>
        <div>
          <%= form.submit "会員登録", class: "w-full px-4 py-2 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-400 rounded-xl hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
