<div class="flex flex-wrap mx-2 mt-6">
  <%= form_with(url: builds_path, method: :get, local: true, class: "w-full") do |form| %>
  <div class="flex flex-wrap justify-center items-center w-full md:space-x-2">
    <div class="w-full md:w-auto flex flex-col mx-1 mb-2 md:mb-0">
      <%= form.label :user_name, "ユーザー名", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :user_name, placeholder: "例：ユーザー名", class: "appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
    </div>
    <div class="w-full md:w-auto flex flex-col mx-1 mb-2 md:mb-0">
      <%= form.label :pokemon_name, "ポケモン名", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :pokemon_name, placeholder: "例：ピカチュウ", class: "appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
    </div>
    <div class="w-full md:w-auto flex flex-col mx-1 mb-2 md:mb-0">
      <%= form.label :battle_rank, "順位", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.number_field :battle_rank, min: 1, placeholder: "例：1", class: "appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
    </div>
    <div class="w-full md:w-auto flex flex-col mx-1 mb-2 md:mb-0">
      <%= form.label :item_name, "持ち物", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :item_name, placeholder: "例：こだわりスカーフ", class: "appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
    </div>
    <div class="w-full md:w-auto flex flex-col mx-1 mb-2 md:mb-0">
      <%= form.label :season, "シーズン", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.number_field :season, min: 1, placeholder: "例：1", class: "appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
    </div>
    <div class="w-full md:w-4 flex items-end mt-4 mx-1">
      <%= form.submit "検索", class: "w-full md:w-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-3" %>
    </div>
  </div>
  <% end %>
</div>
